{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Créditos</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="table-primary">
                <tr>
                    <th>Nombres de contribuidores:</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>Victor Javier Jurado Sanchez Jr.</td></tr>
                <tr><td>Jesus Alejandro Coronado Barraza</td></tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
